*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6DDF2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    text-align: center;
}

img {
    float: right;
    margin-right: 60px;
    border: 5px solid black;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
}

p {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    text-indent: 40px;
    box-shadow: 4px 4px 10px #666;
    background-color: white;
    border: 3px dashed black;
}

#header {
    background-color: #D4C3F0;
    padding: 20px;
}

#content{
    padding-top: 20px;
}

#text {
    margin-top: 40px;
}

#text p {
    
}

#text p:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("../images/fondo.png");
    background-repeat: repeat;
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu {
    margin-top: 40px;
    padding: 15px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu li{
    border-left: 5px solid red;
    padding-left: 5px;
}

#menu li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
}

#footer{
    margin-top: 20px;
    padding: 20px;
    border-top: 5px solid black;
    text-align: center;
    background-color: #D4C3F0;
}

#footer a{
    text-decoration: none;
    color: black;
}

#footer a:hover{
    text-decoration: underline;
}

#image {
    
}

@media all and (max-width: 500px) {
    img {
        width: 90%;
        float: none;
        margin: 0 auto;
        display: block;
        border-color: red;
    }
}

