body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    background-color: lightblue;
    color: darkred;
    border-left: 5px solid green;
    border-right: 5px solid green;
}


img {
    width: 300px;
    height: 300px;         
    border: 3px solid black; 
    border-radius: 15px;   
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 

}

ul {
    list-style-type: none;   
    padding: 0;             
    margin: 0;             
}

li {
    border: 2px solid black;   
    display: inline;    
    padding: 5px;              
    margin: 5px; 
}
